<section>
  <h4>Create New Post</h4>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <textarea id="textarea2" class="materialize-textarea" name="post-content" data-length="120"></textarea>
    </div>

    {{!-- Start File Upload --}}
    {{!-- <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="upload" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="">
      </div>
    </div> --}}
    {{!-- End File Upload --}}

    <button type="submit" class="green darken-1 btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h4>Your Posts</h4>
  <ul class= "collection">
    {{#each posts as |post|}}
    <li class="collection-item">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>