<form class="login-form">
  <h3>Login</h3>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button class="btn waves-effect waves-light blue darken-1" type="submit" name="action">login</button>
  </div>
</form>
<h3>New user? Sign up below</h3>
<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="btn waves-effect waves-light green darken-1" type="submit" name="action">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>